<h1>Welcome to my website!</h1>

<p> Things are currently under construction, so obviously there's nothing really here yet, but there will be some day! </p>
<p> If you'd like to contact me, shoot me an email at seancarpenter10@gmail.com </p>
<p> The entire codebase for this website can be found <a href="https://github.com/Seancarpenter/Blog">here</a> </p>
<p>Meanwhile, as a thanks for visiting, here's a picture of a very chunky Blue Ridge Red Salamander</p>

<img src="https://virginiaherpetologicalsociety.com/amphibians/salamanders/blue-ridge-red-salamander/Blue%20Ridge%20Red%20Salamander.jpg">

<br>
<a href="https://virginiaherpetologicalsociety.com/amphibians/salamanders/blue-ridge-red-salamander/blue_ridge_red_salamander.php"> More information can be found about them here</a>
