# updated by the nginx packaging team.
#
# This file will automatically load configuration files provided by other
# applications, such as Drupal or Wordpress. These applications will be made
# available underneath a path with that package name, such as /drupal8.
#
# Please see /usr/share/doc/nginx-doc/examples/ for more detailed examples.
##
##

# Default server configuration
#
server {

    root /var/www/opinionator.io/html/blog/public;
    index index.html;
    server_name opinionator.io www.opinionator.io;

    location / {
        # First attempt to serve request as file, then
        # as directory, then fall back to displaying a 404.
        try_files $uri $uri/ =404;
    }

    access_log /var/log/nginx/access_log combined;

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/opinionator.io/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/opinionator.io/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
server {
    server_name seancarpenter.io www.seancarpenter.io;
    return 301 https://www.opinionator.io$request_uri;

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/seancarpenter.io.io/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/seancarpenter.io/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    if ($host = www.seancarpenter.io) {
        return 301 https://www.opinionator.io$request_uri;
    } # managed by Certbot

    if ($host = seancarpenter.io) {
        return 301 https://opinionator.io$request_uri;
    } # managed by Certbot

    listen 80;
    listen [::]:80;

    server_name seancarpenter.io www.seancarpenter.io;
    return 404; # managed by Certbot
}

server {
    if ($host = www.opinionator.io) {
        return 301 https://www.$host$request_uri;
    } # managed by Certbot

    if ($host = opinionator.io) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen 80;
    server_name opinionator.io www.opinionator.io;
    return 404; # managed by Certbot
}
