{{ define "main" }}

{{ $enquire := resources.Get "js/enquire.min.js" | resources.Fingerprint }}
<script src="{{ $enquire.RelPermalink }}"></script>

<main class="{{ if or ($.Param "enableToc") ($.Param "toc") }}{{ if $.Param "hideToc" }}main{{ else }}main-main{{ end }}{{ else }}main{{ end }}">
  <div class="single">
    <h2 class="single__title">{{ .Title }}</h2>
    <h3 class="single__description">{{ .Description }}</h3>
    <div class="single__meta">
      {{ partial "body/infos" . }}
    </div>
    <article class="single__contents">
      {{ .Content }}
    </article>
    {{ partial "body/whoami" . }}
  </div>
</main>
<script>
  enquire.register("screen and (max-width: 769px)", {
    match: function () {
      if (document.getElementsByTagName('main')[0]) {
        document.getElementsByTagName('main')[0].className = "main";
      }
      if (document.getElementsByTagName('aside')[0]) {
        document.getElementsByTagName('aside')[0].className = "hide";
      }
    },
    unmatch: function () {
      document.getElementsByClassName('navbar__burger')[0].classList.remove('is-active');
      document.getElementsByClassName('navbar__menu')[0].classList.remove('is-active');
    },
    setup: function () { },
    deferSetup: true,
    destroy: function () { },
  });
</script>
{{ partial "script/single-script" . }}
{{ end }}
